# Grafana Data Sources Configuration
# Auto-provisions Prometheus and Jaeger as data sources

apiVersion: 1

datasources:
  # Prometheus data source for metrics
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"

  # Jaeger data source for traces
  - name: Jaeger
    uid: jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: true
    jsonData:
      tracesToMetrics:
        datasourceUid: 'prometheus'

